
#page1-1{width: 100%;position: absolute;left: 0;bottom: 0;}
#page1-2{width: 240px;height: 106px;z-index: 1;    height: auto;
  
    position: absolute;
    left: 50%;
    top: 60px;
    margin-left: -121.25px;}
#page1-3{width: 140px;height: 70px;z-index: 3;}
#page1-4{    height: auto;
    text-align: left;
    position: absolute;
    left: 50%;
    bottom: 40%;
    margin-left: -87.75px;}
.pager2-moveTobottom{
	
	-webkit-animation: movetobottom 2s ease;
	animation: movetobottom 2s ease;
}

@-webkit-keyframes movetobottom{
	from{opacity: 0.3; -webkit-transform: translateY(100%);}
	
}
@keyframes movetobottom{
	from{opacity: 0.3; -webkit-transform: translateY(100%);}
	
}
.rote{
	-webkit-animation: rote 2.5s linear infinite;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	animation: rote 2.5s linear infinite;
}
@-webkit-keyframes rote{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
	
}
@keyframes rote{
	from{-webkit-transform:rotate(0deg);}
	to{-webkit-transform:rotate(360deg);}
	
}

.pager2-moveTotop{
	opacity: 0;
	-webkit-animation: moveCircle 2s ease-in-out 2s forwards;
	animation: moveCircle 2s ease-in-out 2s forwards;
}

@-webkit-keyframes moveCircle {
	0% { -webkit-transform: translateY(-80%);opacity: 0;}
	5% { -webkit-transform: translateY(-80%);opacity: 0.2;}
	35% { -webkit-transform: translateY(10%);opacity: 0.3;}
	60% { -webkit-transform: translateY(-13%);}
	65% { -webkit-transform: translateY(-13%);opacity: 0.7;}
	100% { -webkit-transform: translateY(0%);opacity: 1;}
}

@keyframes moveCircle {
	0% { -webkit-transform: translateY(-80%);opacity: 0;}
	5% { -webkit-transform: translateY(-80%);opacity: 0.2;}
	35% { -webkit-transform: translateY(10%);opacity: 0.3;}
	60% { -webkit-transform: translateY(-13%);}
	65% { -webkit-transform: translateY(-13%);opacity: 0.7;}
	100% { -webkit-transform: translateY(0%);opacity: 1;}
}
.pager2-moveTotop1{
	
	position: absolute;left:30%;top: -9%;
	-webkit-animation: movetotop1 2s ease 4.0s forwards;
	animation: movetotop 2s ease 4.0s forwards;
}

@-webkit-keyframes movetotop1{
	from{}to{top: 12%}
	
}
@keyframes movetotop{
from{}to{top: 12%}
	
}


.pt-page-moveFromLeft {
	opacity: 0;
	-webkit-animation: moveFromLeft .6s ease 6s forwards;
	animation: moveFromLeft .6s ease 6s forwards;
}
@-webkit-keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); opacity: 1;}to{opacity: 1;}
}
@keyframes moveFromLeft {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity: 1;}to{opacity: 1;}
}

#page2-1{width: 100px;height: 100px;position: absolute;left: 50%;margin-left: -50px;top: 20%;}
#page2-2{width: 15px;
height: 300px;
z-index: 2;
left: 50%;
top: 40%;position: absolute;margin-left: -7.5px;}
#page2-3{
	position: absolute;left: 2%;top: 40%;
}
#page2-3 p{font-size: 0.2rem;color: white;}
#page2-4{
	position: absolute;right: 2%;top: 50%;
}
#page2-4 p{font-size: 0.2rem;color: white;}
#page2-5{
	position: absolute;left: 2%;top: 70%;
}
#page2-5 p{font-size: 0.2rem;color: white;}

.rote11{
	-webkit-animation: rote1 1.5s linear both;

	animation: rote 1.5s linear both;
}
@-webkit-keyframes rote1{
	from{-webkit-transform:rotate(-90deg);opacity: 0.3;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
@keyframes rote1{
	from{transform:rotate(-90deg);opacity: 0.3;}
	to{transform:rotate(0deg);opacity: 1;}
	
}
.pager3-moveTobottom{
	opacity: 0;
	-webkit-animation: moveTobottom1 2s linear .6s forwards;
	animation: moveTobottom1 2s linear .6s forwards;
}
@-webkit-keyframes moveTobottom1 {
	from { -webkit-transform: translateY(100%); opacity: 1;}to{opacity: 1;}
}
@keyframes moveTobottom1 {
	from { transform: translateY(100%); opacity: 1;}to{opacity: 1;}
}

.page3-moveFromLeft{
	opacity: 0;
	-webkit-animation: moveFromLeft1 1.2s ease 2s forwards;
	animation: moveFromLeft1 1.2s ease 2s forwards;
}
@-webkit-keyframes moveFromLeft1 {
	from { -webkit-transform: translateX(-100%); opacity: 1;}to{opacity: 1;}
}
@keyframes moveFromLeft1 {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity: 1;}to{opacity: 1;}
}

.page4-moveFromRight{
	opacity: 0;
	-webkit-animation: moveFromRight 1.2s ease 3s forwards;
	animation: moveFromRight 1.2s ease 3s forwards;
}
@-webkit-keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); opacity: 1;}to{opacity: 1;}
}
@keyframes moveFromRight {
	from { -webkit-transform: translateX(100%); transform: translateX(100%); opacity: 1;}to{opacity: 1;}
}

.page4-moveFromLeft{
	opacity: 0;
	-webkit-animation: moveFromLeft2 1.2s ease 4s forwards;
	animation: moveFromLeft2 1.2s ease 4s forwards;
}
@-webkit-keyframes moveFromLeft2 {
	from { -webkit-transform: translateX(-100%); opacity: 1;}to{opacity: 1;}
}
@keyframes moveFromLeft2 {
	from { -webkit-transform: translateX(-100%); transform: translateX(-100%); opacity: 1;}to{opacity: 1;}
}



#page3-1{width: 100%;height: auto;opacity: 0;}
.page5-moveFromCenter{
	-webkit-animation: moveCenter 1s ease 2s forwards;
	animation: moveCenter 1s ease 2s forwards;
}
@-webkit-keyframes moveCenter {
	from {-webkit-transform: scale(2);opacity: 0;}
	to { -webkit-transform: scale(1); opacity: 1;}
}
@keyframes moveCenter {
	from {transform: scale(2);opacity: 0}
	to {transform: scale(1);opacity: 1;}
}

#page3-2{position: absolute;left:40%;top: -20%;font-size: 0.5rem;font-weight: 900;font-family: "微软雅黑";color: white;
}
.page5-moveFromTop{
	-webkit-animation: moveToTop 2s ease forwards;
	animation: moveToTop 2s ease forwards;
}
@-webkit-keyframes moveToTop {
	from { }
	to { top: 10%; }
}
@keyframes moveToTop {
	from { }
	to {top: 10%;}
}


#page3-3{width: 100px;height: auto;position: absolute;left: 25%;bottom:-20%;}

.page5-moveFromBottom{
-webkit-animation: moveToBottom 2s ease 3s forwards;
	animation: moveToBottom 2s ease 3s forwards;
}
@-webkit-keyframes moveToBottom {
	from { }
	to { bottom:20%; }
}
@keyframes moveToBottom {
	from { }
	to {bottom:20%;}
}
.font{position: absolute;left: 40%;top: 10%;font-size: 0.6rem;font-family: "微软雅黑";color: #00CCFF;}
#page4-1{width: 52px;height: 52px;
	opacity: 0;
	position: absolute;left: 15%;top:30%;}
.page6-move1{

	-webkit-animation:rote2 1s linear forwards;
	animation: rote2 1s linear forwards;
}
@-webkit-keyframes rote2{
	
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
@keyframes rote2{
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
#page4-2{width: 52px;height: 52px;
position: absolute;left: 25%;top:45%;
	opacity: 0;}
.page6-move2{
	
	-webkit-animation:rote3 1s linear 2.5s forwards;
	animation: rote3 1s linear 2.5s forwards;
}
@-webkit-keyframes rote3{
	
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
@keyframes rote3{
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}

#page4-3{width: 52px;height: 52px;
position: absolute;left: 35%;top:60%;
	opacity: 0;}
.page6-move3{
	
	-webkit-animation:rote4 1s linear 5s forwards;
	animation: rote4 1s linear 5s forwards;
}
@-webkit-keyframes rote4{
	
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
@keyframes rote4{
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
#page4-4{width: 52px;height: 52px;
position: absolute;left: 45%;top:75%;
	opacity: 0;}
.page6-move4{
	
	-webkit-animation:rote5 1s linear 7.5s forwards;
	animation: rote5 1s linear 7.5s forwards;
}
@-webkit-keyframes rote5{
	
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
@keyframes rote5{
	from{-webkit-transform:rotate(-90deg);opacity: 0;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
#page4-5{width: 120px;height: auto;
	position: absolute;right:-35%;top:30%;}
.page6-move5{

	-webkit-animation:move1 1.5s linear 1s forwards;
	animation: move1 1.5s linear 1s forwards;
}
@-webkit-keyframes move1 {
	from {}
	to { right: 35%; }
}
@keyframes move1 {
	from { }
	to {right: 35%;}
}
#page4-6{width: 150px;height: auto;
position: absolute;right:-40%;top:45%;}
.page6-move6{
	
	-webkit-animation:move2 1.5s linear 3.5s forwards;
	animation: move2 1.5s linear 3.5s forwards;
}
@-webkit-keyframes move2 {
	from {}
	to { right: 20%; }
}
@keyframes move2 {
	from { }
	to {right: 20%;}
}
#page4-7{width: 100px;height: auto;
position: absolute;right:-40%;top:60%;}
.page6-move7{
	
	-webkit-animation:move3 1.5s linear 6s forwards;
	animation: move3 1.5s linear 6s forwards;
}
@-webkit-keyframes move3 {
	from {}
	to { right: 25%; }
}
@keyframes move3 {
	from { }
	to {right: 22%;}
}
#page4-8{width: 100px;height: auto;
position: absolute;right: -30%;top:75%;}
.page6-move8{
	
	-webkit-animation:move4 1.5s linear 8.5s forwards;
	animation: move4 1.5s linear 8.5s forwards;
}
@-webkit-keyframes move4 {
	from {}
	to { right: 13%; }
}
@keyframes move4 {
	from { }
	to {right: 13%;}
}
.pic{position: absolute;color: white;font-family: "微软雅黑";left: 5%;top: 5%;font-size: 0.4rem;}
.pic1{position: absolute;color: white;font-family: "微软雅黑";left: 5%;top: 44%;font-size: 0.4rem;}

#page5-1{position: absolute;width: 100%;left: 0;top: 0;}
.page7-move1{
	-webkit-animation:blink1 3s ease infinite;
	animation:blink1 3s ease infinite;
}
@-webkit-keyframes blink1 {
		0% {opacity: 0;}
	20%{opacity: .4;}
	40%{opacity: .75;}
	50%{opacity: 1;}
	60%{opacity: .75;}
	80%{opacity: .4;}	
	100% { opacity: 0;}
}
@keyframes blink1 {
	0% {opacity: 0;}
	20%{opacity: .4;}
	40%{opacity: .75;}
	50%{opacity: 1;}
	60%{opacity: .75;}
	80%{opacity: .4;}	
	100% { opacity: 0;}
}
#page5-2{width: 100px;height: 100px;position: absolute;left: 50%;margin-left: -50px;top: 20%;}
.rote12{
	-webkit-animation: rote1 1.5s linear both;

	animation: rote 1.5s linear both;
}
@-webkit-keyframes rote1{
	from{-webkit-transform:rotate(-90deg);opacity: 0.3;}
	to{-webkit-transform:rotate(0deg);opacity: 1;}
	
}
@keyframes rote1{
	from{transform:rotate(-90deg);opacity: 0.3;}
	to{transform:rotate(0deg);opacity: 1;}
	
}

#page5-3{width: 60%;position: absolute;left: 20%;top:60%}
/*.page7-move2{
	-webkit-animation:move13 1s linear 2.5s forwards ;
	
	animation:move13 1s linear 2.5s forwards 1;
	
}

@-webkit-keyframes move13{
	from{}
	to{top:60%}
}
@keyframes move13{
	from{}
	to{top:60%}
}*/

.page7-move2{
	-webkit-animation:mov 3s linear infinite;animation:mov 3s linear infinite;
}
@-webkit-keyframes mov {
		0% {}
	20%{top: 53%;}
	
	50%{top: 65%;}
	60%{top: 60%;}
	80%{top: 65%;}	
	100% { top: 60%;}
}
@keyframes mov {
			0% {}
	40%{top: 53%;}
	
	50%{top: 65%;}
	60%{top: 60%;}
	80%{top: 65%;}	
	100% { top: 62%;}
}












